In [11]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [12]:
data = pd.read_csv('/content/Phase 2 Data/kc_house_data.csv')
print(data)

               id        date      price  bedrooms  bathrooms  sqft_living  \
0      7399300360   5/24/2022   675000.0         4        1.0         1180
1      8910500230  12/13/2021   920000.0         5        2.5         2770
2      1180000275   9/29/2021   311000.0         6        2.0         2880
3      1604601802  12/14/2021   775000.0         3        3.0         2160
4      8562780790   8/24/2021   592500.0         2        2.0         1120
...           ...         ...        ...       ...        ...          ...
30150  7834800180  11/30/2021  1555000.0         5        2.0         1910
30151   194000695   6/16/2021  1313000.0         3        2.0         2020
30152  7960100080   5/27/2022   800000.0         3        2.0         1620
30153  2781280080   2/24/2022   775000.0         3        2.5         2570
30154  9557800100   4/29/2022   500000.0         3        1.5         1200

       sqft_lot  floors waterfront greenbelt  ... sewer_system sqft_above  \
0          7140     1.0         NO        NO  ...       PUBLIC       1180
1          6703     1.0         NO        NO  ...       PUBLIC       1570
2          6156     1.0         NO        NO  ...       PUBLIC       1580
3          1400     2.0         NO        NO  ...       PUBLIC       1090
4           758     2.0         NO        NO  ...       PUBLIC       1120
...         ...     ...        ...       ...  ...          ...        ...
30150      4000     1.5         NO        NO  ...       PUBLIC       1600
30151      5800     2.0         NO        NO  ...       PUBLIC       2020
30152      3600     1.0         NO        NO  ...       PUBLIC        940
30153      2889     2.0         NO        NO  ...       PUBLIC       1830
30154     11058     1.0         NO        NO  ...       PUBLIC       1200

      sqft_basement sqft_garage sqft_patio yr_built  yr_renovated  \
0                 0           0         40     1969             0
1              1570           0        240     1950             0
2              1580           0          0     1956             0
3              1070         200        270     2010             0
4               550         550         30     2012             0
...             ...         ...        ...      ...           ...
30150          1130           0        210     1921             0
30151             0           0        520     2011             0
30152           920         240        110     1995             0
30153           740         480        100     2006             0
30154             0         420          0     1965             0

                                                 address        lat       long
0      2102 Southeast 21st Court, Renton, Washington ...  47.461975 -122.19052
1      11231 Greenwood Avenue North, Seattle, Washing...  47.711525 -122.35591
2      8504 South 113th Street, Seattle, Washington 9...  47.502045 -122.22520
3      4079 Letitia Avenue South, Seattle, Washington...  47.566110 -122.29020
4      2193 Northwest Talus Drive, Issaquah, Washingt...  47.532470 -122.07188
...                                                  ...        ...        ...
30150  4673 Eastern Avenue North, Seattle, Washington...  47.664740 -122.32940
30151  4131 44th Avenue Southwest, Seattle, Washingto...  47.565610 -122.38851
30152  910 Martin Luther King Jr Way, Seattle, Washin...  47.610395 -122.29585
30153  17127 114th Avenue Southeast, Renton, Washingt...  47.449490 -122.18908
30154  18615 7th Avenue South, Burien, Washington 981...  47.435840 -122.32634

[30155 rows x 25 columns]

In [ ]:
data.info()

In [69]:
# Dropping houses with grade "5 Fair" and below 

nice_houses = data.drop(data[data.grade.isin(["5 Fair", "4 Low", "3 Poor", "2 Substandard", "1 Cabin"])].index)
nice_houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634

In [70]:
# Dropping houses with no bedrooms

nice_houses = nice_houses.loc[(nice_houses['bedrooms']!=0)]

In [71]:
# Dropping houses with no bathrooms

nice_houses = nice_houses.loc[(nice_houses['bathrooms']!=0)]
nice_houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634

In [62]:
nice_houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29660 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             29660 non-null  int64
 1   date           29660 non-null  object
 2   price          29660 non-null  float64
 3   bedrooms       29660 non-null  int64
 4   bathrooms      29660 non-null  float64
 5   sqft_living    29660 non-null  int64
 6   sqft_lot       29660 non-null  int64
 7   floors         29660 non-null  float64
 8   waterfront     29660 non-null  object
 9   greenbelt      29660 non-null  object
 10  nuisance       29660 non-null  object
 11  view           29660 non-null  object
 12  condition      29660 non-null  object
 13  grade          29660 non-null  object
 14  heat_source    29649 non-null  object
 15  sewer_system   29648 non-null  object
 16  sqft_above     29660 non-null  int64
 17  sqft_basement  29660 non-null  int64
 18  sqft_garage    29660 non-null  int64
 19  sqft_patio     29660 non-null  int64
 20  yr_built       29660 non-null  int64
 21  yr_renovated   29660 non-null  int64
 22  address        29660 non-null  object
 23  lat            29660 non-null  float64
 24  long           29660 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.9+ MB

In [27]:
X = pd.get_dummies(data['grade'])
y = data['price']
model= sm.OLS(y,sm.add_constant(X)).fit()

model.summary()

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.409
Method:                 Least Squares   F-statistic:                     1742.
Date:                Fri, 10 Feb 2023   Prob (F-statistic):               0.00
Time:                        22:52:26   Log-Likelihood:            -4.4815e+05
No. Observations:               30155   AIC:                         8.963e+05
Df Residuals:                   30142   BIC:                         8.964e+05
Df Model:                          12
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1.849e+06   5.28e+04     35.002      0.000    1.75e+06    1.95e+06
1 Cabin       -4.969e+05   4.54e+05     -1.094      0.274   -1.39e+06    3.93e+05
10 Very Good   4.925e+05   5.56e+04      8.863      0.000    3.84e+05    6.01e+05
11 Excellent   1.693e+06   6.16e+04     27.484      0.000    1.57e+06    1.81e+06
12 Luxury      3.239e+06   7.83e+04     41.376      0.000    3.09e+06    3.39e+06
13 Mansion      5.55e+06   1.41e+05     39.497      0.000    5.27e+06    5.83e+06
2 Substandard -1.547e+06   4.54e+05     -3.407      0.001   -2.44e+06   -6.57e+05
3 Poor        -1.385e+06   1.85e+05     -7.502      0.000   -1.75e+06   -1.02e+06
4 Low         -1.211e+06   1.04e+05    -11.666      0.000   -1.41e+06   -1.01e+06
5 Fair        -1.231e+06   6.19e+04    -19.896      0.000   -1.35e+06   -1.11e+06
6 Low Average -1.195e+06   5.42e+04    -22.069      0.000    -1.3e+06   -1.09e+06
7 Average     -1.029e+06   5.32e+04    -19.360      0.000   -1.13e+06   -9.25e+05
8 Good        -7.659e+05   5.32e+04    -14.385      0.000    -8.7e+05   -6.62e+05
9 Better      -2.631e+05   5.38e+04     -4.887      0.000   -3.69e+05   -1.58e+05
==============================================================================
Omnibus:                    40476.896   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         32436451.405
Skew:                           7.185   Prob(JB):                         0.00
Kurtosis:                     163.029   Cond. No.                     1.31e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.26e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [23]:
y = data['price']
X = pd.get_dummies(data[['sewer_system','heat_source','grade','condition']])
model= sm.OLS(y,sm.add_constant(X)).fit()

model.summary()

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.420
Model:                            OLS   Adj. R-squared:                  0.419
Method:                 Least Squares   F-statistic:                     806.7
Date:                Fri, 10 Feb 2023   Prob (F-statistic):               0.00
Time:                        22:37:51   Log-Likelihood:            -4.4789e+05
No. Observations:               30155   AIC:                         8.958e+05
Df Residuals:                   30127   BIC:                         8.961e+05
Df Model:                          27
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                            1.536e+06   1.67e+05      9.213      0.000    1.21e+06    1.86e+06
sewer_system_PRIVATE            -4.393e+04    1.9e+05     -0.231      0.817   -4.16e+05    3.28e+05
sewer_system_PRIVATE RESTRICTED -9.974e+04   3.41e+05     -0.293      0.770   -7.67e+05    5.68e+05
sewer_system_PUBLIC              6.729e+04    1.9e+05      0.355      0.723   -3.05e+05    4.39e+05
sewer_system_PUBLIC RESTRICTED  -1.303e+05   4.38e+05     -0.298      0.766   -9.88e+05    7.28e+05
heat_source_Electricity         -7278.1782    1.3e+05     -0.056      0.955   -2.63e+05    2.48e+05
heat_source_Electricity/Solar   -4.534e+04   1.58e+05     -0.287      0.774   -3.55e+05    2.64e+05
heat_source_Gas                  5.521e+04    1.3e+05      0.423      0.672   -2.01e+05    3.11e+05
heat_source_Gas/Solar            3.986e+05   1.48e+05      2.685      0.007    1.08e+05     6.9e+05
heat_source_Oil                  1.318e+05   1.31e+05      1.008      0.314   -1.25e+05    3.88e+05
heat_source_Oil/Solar            1.486e+05   3.66e+05      0.406      0.685   -5.68e+05    8.65e+05
heat_source_Other                1.621e+05      2e+05      0.812      0.417   -2.29e+05    5.53e+05
grade_1 Cabin                   -4.124e+05   4.67e+05     -0.883      0.377   -1.33e+06    5.03e+05
grade_10 Very Good               4.436e+05   6.69e+04      6.635      0.000    3.13e+05    5.75e+05
grade_11 Excellent               1.648e+06    7.2e+04     22.902      0.000    1.51e+06    1.79e+06
grade_12 Luxury                  3.192e+06   8.64e+04     36.944      0.000    3.02e+06    3.36e+06
grade_13 Mansion                 5.521e+06   1.44e+05     38.250      0.000    5.24e+06     5.8e+06
grade_2 Substandard             -1.463e+06   4.59e+05     -3.191      0.001   -2.36e+06   -5.64e+05
grade_3 Poor                    -1.372e+06   1.91e+05     -7.196      0.000   -1.75e+06   -9.98e+05
grade_4 Low                     -1.193e+06   1.07e+05    -11.113      0.000    -1.4e+06   -9.83e+05
grade_5 Fair                    -1.283e+06   7.08e+04    -18.118      0.000   -1.42e+06   -1.14e+06
grade_6 Low Average             -1.283e+06   6.56e+04    -19.572      0.000   -1.41e+06   -1.15e+06
grade_7 Average                 -1.118e+06   6.49e+04    -17.234      0.000   -1.25e+06   -9.91e+05
grade_8 Good                    -8.294e+05    6.5e+04    -12.768      0.000   -9.57e+05   -7.02e+05
grade_9 Better                  -3.133e+05   6.55e+04     -4.784      0.000   -4.42e+05   -1.85e+05
condition_Average                2.336e+05   3.84e+04      6.086      0.000    1.58e+05    3.09e+05
condition_Fair                   2.687e+05   5.15e+04      5.217      0.000    1.68e+05     3.7e+05
condition_Good                    3.37e+05   3.88e+04      8.695      0.000    2.61e+05    4.13e+05
condition_Poor                   2.428e+05   8.02e+04      3.028      0.002    8.57e+04       4e+05
condition_Very Good              4.535e+05   3.95e+04     11.480      0.000    3.76e+05    5.31e+05
==============================================================================
Omnibus:                    41018.400   Durbin-Watson:                   1.854
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         34888122.099
Skew:                           7.361   Prob(JB):                         0.00
Kurtosis:                     168.983   Cond. No.                     3.88e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.19e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""